.snackbar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
}

.snackbar {
  padding: 16px 36px;
  background: skyblue;
  border-radius: 8px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: -100px;
  max-width: 200px;
  text-align: center;
  font-weight: bold;
  animation:
    slide-up 0.12s ease-out forwards,
    fade-out 0.2s 1s forwards;
}

@keyframes slide-up {
  from {
    margin-bottom: -100px;
  }
  to {
    margin-bottom: 80px;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
