@import "common/maze.css";
@import "common/snackbar.css";
@import "common/tools.css";

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}
