@import "common/bar.css";
@import "common/commands.css";
@import "common/maze.css";
@import "common/playback.css";
@import "common/puzzle.css";
@import "common/robot.css";
@import "common/tools.css";

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}
.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
