.bar-container {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.bar-container img {
  user-select: none;
  transition: opacity 0.1s;
}

.bar-container img:active {
  opacity: 0.5;
}
