.side {
  height: 100%;
  width: 280px;
  margin-left: 40px;
  margin-right: 40px;
}

.side:last-of-type {
  border: 1px solid black;
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form input {
  flex: 1;
}
