.side {
  height: 100%;
  width: 280px;
  margin-left: 40px;
  margin-right: 40px;
}

.command {
  display: flex;
  justify-content: left;
  align-items: center;
}

form {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form input {
  flex: 1;
}
