:root {
  --robot-x: 0;
  --robot-y: 0;
  --rotations: 0;
}

.robot {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  top: calc(var(--robot-y) * calc(var(--cell-size) + 1px));
  left: calc(var(--robot-x) * calc(var(--cell-size) + 1px));
  pointer-events: none;
  transition:
    top 200ms,
    left 200ms,
    transform 200ms;
}

.robot[data-rotation="up"] {
  transform: rotate(calc(-360deg * var(--rotations)));
}

.robot[data-rotation="left"] {
  transform: rotate(calc(-90deg - 360deg * var(--rotations)));
}

.robot[data-rotation="down"] {
  transform: rotate(calc(-180deg - 360deg * var(--rotations)));
}

.robot[data-rotation="right"] {
  transform: rotate(calc(-270deg - 360deg * var(--rotations)));
}
