.tools-container {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.tool {
  display: flex;
  height: 40px;
}

.tool input + label img {
  opacity: 0.4;
}

.tool input:checked + label img {
  opacity: 1;
}

.tools-container label {
  display: flex;
}

.tools-container input {
  display: none;
}
